/*

  Made with love and pandas by aidswidjaja
        https://github.com/tetsudai
       https://aidswidjaja.github.io

Filename    ::  navbar-space.css
Purpose     ::  CSS file to target padding for each page in order to compensate for elements
Project     ::  Official website for Healing Hub Inc, a peer-to-peer mental health support server. By aidswidjaja @ tetsudai.
GitHub      ::  https://github.com/tetsudai/HealingHub
License     ::  MIT License 2020

*/

@media (max-width: 768px) {
    /* Mobile */
    .navbarSpace {
        height: 9.2rem;
    }
}

@media (min-width: 769px) {
    /* Tablet */
    .navbarSpace {
        height: 9.3rem;
    }
}

@media (min-width: 1024px) {
    /* Desktop */
    .navbarSpace {
        height: 3.5rem;
    }
}