/*

  Made with love and pandas by aidswidjaja
        https://github.com/tetsudai
       https://aidswidjaja.github.io

Filename    ::  team.css
Purpose     ::  CSS file for about/team.html
Project     ::  Official website for Healing Hub Inc, a peer-to-peer mental health support server. By aidswidjaja @ tetsudai.
GitHub      ::  https://github.com/tetsudai/HealingHub
License     ::  MIT License 2020

*/

.has-image-centered {
    margin-left: auto;
    margin-right: auto;
  }